#---- Configuration files ----
conda_config: "../envs/conda.yaml"
mrbayes_block: "workflow/envs/mrbayes.block"

#---- Global variable ---- # to disable, change the config value to an empty string "" or "-", "not", "false"
busco_version: 3 # 3 or 5
iqtree_dna_method: "yes"
iqtree_protein_method: "yes"
mrbayes_dna_method: "yes"
mrbayes_protein_method: "yes"

#---- Result file names ----
alignment_file_prefix: "alignment.phylo"

#---- Directory structure config ----
genome_dir: "genomes" # use an absolute path
output_dir: "results"
log_dir: "logs"
cluster_log_dir: "cluster_logs"
busco_dir: "busco"
mafft_dir: "alignment/mafft"
trimal_dir: "alignment/trimal"
iqtree_dir: "phylogeny/iqtree"
mrbayes_dir: "phylogeny/mrbayes"
common_ids_dir: "ids/common_ids"
single_copy_busco_sequences_dir: "ids/single_copy_busco_sequences.common.dir"
merged_sequences_dir: "ids/merged_sequences"
concat_alignments_dir: "concat_alignments"
benchmark_dir: "benchmarks"

#---- Tool threads ----
busco_threads: 8
mafft_threads: 4
trimal_threads: 4
iqtree_threads: 15
mrbayes_threads: 15
common_ids_threads: 1

#---- Tool memory ----
busco_mem_mb: 20000
mafft_mem_mb: 15000
trimal_mem_mb: 15000
iqtree_mem_mb: 50000
mrbayes_mem_mb: 50000
common_ids_mem_mb: 5000

#---- Tool time ----
busco_time: "100:00:00"
mafft_time: "60:00:00"
trimal_time: "60:00:00"
iqtree_time: "200:00:00"
mrbayes_time: "200:00:00"
common_ids_time: "03:00:00"

#---- Tool paths ----
busco_path:
busco_dataset_path:
mafft_path:
trimal_path:
iqtree_path:
mrbayes_path:

#---- Tool variables ----
busco_mode: "genome"
augustus_species: "human"
mafft_dna_params: ""
mafft_protein_params: "--anysymbol"
trimal_dna_params: "-automated1"
trimal_protein_params: "-automated1"
iqtree_protein_params: ""
iqtree_dna_params: "-m GTR+G -bb 1000 -o homo_sapiens"
mrbayes_dna_params: ""
mrbayes_protein_params: ""
split_size: 80      # job grouping